/*!
 * Common v3.3.7
 */
*{ padding:0px; margin:0px;}
body {
background: #eee;
overflow:hidden;
font-family:"宋体";
}
.box a{
    text-decoration: none;
}
ul li
{
  list-style:none;
  }
h3,h4
{
    color:rgb(138, 138, 138);
    text-indent:2em;
}
/*header---------------------------------------------------*/
#echart{
  min-width:300px;
  min-height:350px;
  height: 80%;
  width: 80%;
  margin: 10% auto;
}
